<div class="f-column" style="height:100vh;">
  <!--header-->
  <div class="main-header f-row" style="height:8vh;min-height:40px;">
    <div class="f-row f-full">
      <div class="main-title f-animate f-row f-content-center" [style.width.px]="width">
        <img class="app-logo" src="../../../assets/img/logo2.png">
        <span *ngIf="!collapsed">{{title}}</span>
      </div>
      <div class="main-bar f-full">
        <span class="main-toggle fa fa-bars" (click)="toggle()"></span>
        <div style="padding-right: 4px;">
          <button type="button" class="btn btn-outline-light btn-sm" (click)="onLogout()">退出</button>
        </div>
      </div>
    </div>
  </div>
  <!--body-->
  <div class="f-row f-full" style="height: 92vh;">
    <!--左侧菜单栏-->
    <div class="sidebar-body f-animate" [style.width.px]="width" style="height: 92vh;overflow-y: auto;overflow-x: hidden;">
      <div *ngIf="!collapsed" class="sidebar-user row">
        <div class="col-5">
          <img src="../../../assets/img/cover.jpg"
               style="width:80px;height:80px;border:4px double rgba(0,0,0,0.2);border-radius:50%;">
        </div>
        <div class="col-7" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
          <span>李星</span>
        </div>
      </div>
      <eui-sidemenu [data]="menus" [border]="false" [collapsed]="collapsed" [multiple]="true" (itemClick)="onItemClick($event)"></eui-sidemenu>
     </div>
    <!--主体展示部分-->
    <div class="main-body f-full" style="height:92vh;width:0px;overflow-y: auto;overflow-x: auto;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


