@import "~ng-easyui/themes/material/easyui.css";
@import "~ng-easyui/themes/angular.css";
@import "~ng-easyui/themes/icon.css";

/*header*/
.main-header {
  background: #3c8dbc;
  color: #fff;
  line-height: 50px;
  height: 50px;;
}

.main-title {
  background: #367fa9;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

.app-logo {
  width: 24px;
  height: 24px;
  color: #fff;
  margin: 13px 10px;
}

.main-bar {
  background: #3c8dbc;
}

.main-toggle {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #fff;
  margin: 0 10px;
}

/*左侧菜单栏头像部分*/
.sidebar-body {
  background: #222d32;
}

.sidebar-user {
  color: #fff;
  padding: 20px;
  line-height: 20px;
}

/*左侧菜单栏头菜单分类部分*/
/*.sidemenu .tree-hit {*/
  /*background-image: none;*/
/*}*/

/*.sidemenu-default-icon {*/
  /*background-image: none;*/
  /*width: 0;*/
/*}*/

.sidemenu .accordion .panel-title {
  color: #b8c7ce;
}

/*.sidemenu .accordion .accordion-header,*/
/*.sidemenu .accordion .accordion-body {*/
  /*border-bottom-color: transparent;*/
  /*background: transparent;*/
/*}*/

/*.sidemenu .accordion .accordion-header {*/
  /*color: #404040;*/
/*}*/

.sidemenu .accordion-header .panel-title {
  height: 30px;
  line-height: 30px;
  color: #404040;
}

.sidemenu .accordion-header:hover {
  background: #eee;
  color: #404040;
}

.sidemenu .tree-node-hover {
  background: #eee;
  color: #404040;
}

.sidemenu .tree-node-selected {
  border-right: 2px solid #39c;
  color: #39c;
  background: #eee;
}

.sidemenu .tree-node {
  height: 40px;
}

.sidemenu .tree-title {
  margin: 11px 0;
}

.sidemenu .tree-node-nonleaf {
  position: relative;
}

.sidemenu .tree-node-nonleaf::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -8px;
  /*background: url('images/accordion_arrows.png') no-repeat 0 0;*/
  width: 16px;
  height: 16px;
  right: 5px;
}

.sidemenu .tree-node-nonleaf-collapsed::after {
  /*background: url('images/accordion_arrows.png') no-repeat -16px 0;*/
}

.sidemenu-collapsed .panel-icon {
  left: 50%;
  margin-left: -8px;
}

.sidemenu-tooltip {
  padding: 0;
  margin: 0 -12px;
  border: 0;
}

.sidemenu-tooltip .tooltip-arrow-outer,
.sidemenu-tooltip .tooltip-arrow {
  display: none;
}

.sidemenu .tree-node-selected {
  border-right: 0;
}


/*.sidemenu .accordion .accordion-header{*/
/*background: #222d32;*/
/*color: #b8c7ce;*/
/*}*/
/*.sidemenu .accordion .accordion-body{*/
/*background: #2c3b41;*/
/*color: #8aa4af;*/
/*}*/
/*.sidemenu .accordion .accordion-header-selected{*/
/*background: #1e282c;*/
/*}*/
/*.sidemenu .tree-node-hover{*/
/*background: #2c3b41;*/
/*color: #fff;*/
/*}*/
/*.sidemenu .tree-node-selected{*/
/*background: #2c3b41;*/
/*color: #fff;*/
/*border-left: 2px solid #39c;*/
/*border-right: 0;*/
/*}*/
/*.sidemenu .accordion-header .panel-tool{*/
/*display: none;*/
/*}*/
/*.sidemenu .accordion-header::after,*/
/*.sidemenu .tree-node-nonleaf::after{*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*border-style: solid;*/
/*transform:rotate(45deg);*/
/*width: 4px;*/
/*height: 4px;*/
/*content: '';*/
/*position: absolute;*/
/*right: 10px;*/
/*top: 50%;*/
/*margin-top: -3px;*/
/*border-width: 0 1px 1px 0;*/
/*}*/
/*.sidemenu .accordion-header-selected::after{*/
/*transform:rotate(-135deg);*/
/*}*/
/*.sidemenu .tree-node-nonleaf::after{*/
/*transform:rotate(-135deg);*/
/*}*/
/*.sidemenu .tree-node-nonleaf-collapsed::after{*/
/*transform:rotate(45deg);*/
/*}*/
/*.sidemenu-collapsed .accordion-header::after{*/
/*display: none;*/
/*}*/
/*.sidemenu-tooltip .accordion{*/
/*border-color: #1e282c;*/
/*}*/

/*主体展示部分*/
.main-body {
  background: #ecf0f5;
  /*min-height: 400px;*/
}
