@import "~ng-easyui/themes/material/easyui.css";
@import "~ng-easyui/themes/angular.css";
@import "~ng-easyui/themes/icon.css";
/****************************header****************************/
.main-header {
  background: #3c8dbc;
  color: #fff;
}

.main-title {
  width: 50px;
  background: #367fa9;
  font-size: 2em;
}

.app-logo {
  width: 32px;
  height: 32px;
  color: #fff;
  margin: 0 9px;
}

.main-bar {
  background: #3c8dbc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-toggle {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #fff;
  margin: 0 10px;
}
/****************************菜单栏头像****************************/
.sidebar-body {
  background: #222d32;
}

.sidebar-user {
  color: #fff;
  padding: 10px;
  line-height: 20px;
}
/****************************菜单栏分类****************************/
.sidemenu .accordion .panel-title {
  color: #b8c7ce;
  margin-left: 5px;
}

.sidemenu .accordion .accordion-header {
  background: #222d32;
  color: #b8c7ce;
}

.sidemenu .accordion .accordion-body {
  background: #2c3b41;
  color: #8aa4af;
}

.sidemenu .accordion .accordion-header-selected {
  background: #1e282c;
}

.sidemenu .tree-node-hover {
  background: #2c3b41;
  color: #fff;
}

.sidemenu .tree-node-selected {
  background: #2c3b41;
  color: #fff;
  border-right: 0;
  border-left: 2px solid #99cdff;
}

.sidemenu .accordion-header .panel-tool {
  display: none;
}

.sidemenu .accordion-header::after,
.sidemenu .tree-node-nonleaf::after {
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  transform: rotate(45deg);
  width: 4px;
  height: 4px;
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  border-width: 0 1px 1px 0;
}

.sidemenu .accordion-header-selected::after {
  transform: rotate(-135deg);
}

.sidemenu .tree-node-nonleaf::after {
  transform: rotate(-135deg);
}

.sidemenu .tree-node-nonleaf-collapsed::after {
  transform: rotate(45deg);
}

.sidemenu-collapsed .accordion-header::after {
  display: none;
}

.sidemenu-tooltip .accordion {
  border-color: #1e282c;
}
/****************************菜单栏分类内容****************************/
.main-body {
  height:92vh;
  width:0px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 1px;
}
/*自定义删除Dialog样式*/
.deleteDlg {
  width: 400px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  pointer-events: auto;
  background-clip: padding-box;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.deleteDlg .deleteDlg-header {
  text-align: center;
  line-height: 40px;
  background: #ef3e29;
  color: #fff;
  font-weight: bold;
  border: 0;
}

.deleteDlg .deleteDlg-body {
  text-align: center;
  margin: 50px 0;
  font-size: 16px;
}

.deleteDlg .deleteDlg-footer {
  background: #fafafa;
  border-color: #dfdfdf;
}

.deleteDlgBtn, .deleteDlgBtn:hover {
  color: #404040;
  border: 0;
}
/*自定义添加、编辑Dialog中输入框小图标样式*/
.user .user-field {
  position: relative;
}

.user .user-field i {
  color: gray;
  position: absolute;
  left: 0.5em;
  top: 0.65em;
}

.user .user-field input {
  padding-left: 2.3em;
}

.editDlgBtn {
  width:80px;
}
/*自定义messager消息提示框*/
.m-content{
  padding: 10px 10px;
  text-align: center;
}
.m-content h2{
  font-size: 24px;
  margin: 10px 0;
}
.m-content p{
  font-size: 16px;
  color: #464646;
}
.m-buttons{
  margin: 25px 0 15px 0;
}
.m-buttons eui-linkbutton{
  width: 80px;
  margin: 0 8px;
}

