<div class="container user-layout">
  <!--top-->
  <div class="row text-center top">
    <div class="col-12">
      <h1>修改密码</h1>
    </div>
  </div>
  <!--body-->
  <div class="row content">
    <div class="col-12">
      <form action="#" role="form" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <!--<input type="text" name="id" value="{{id}}" hidden="true">-->
        <div class="form-group">
          <div class="alert" [ngClass]="checkCode==0?'alert-success':'alert-danger'"
               *ngIf="msg">{{msg}}
          </div>
        </div>
        <div class="form-group form-input-i">
          <i class="fa fa-key fa-lg"></i>
          <input type="password" class="form-control" id="password" formControlName="password" name="password"
                 [(ngModel)]="user.password" placeholder="{{formPlaceholder.password.title}}">
        </div>
        <div class="form-group form-input-i">
          <i class="fa fa-key fa-lg"></i>
          <input type="password" class="form-control" id="rePassword" formControlName="rePassword" name="rePassword"
                 [(ngModel)]="user.rePassword" placeholder="{{formPlaceholder.rePassword.title}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-info" [disabled]="userForm.invalid==true||canSubmit==false">修改
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--bottom-->
  <div class="row text-center bottom">
    <div class="col-12">
      <a href="#" routerLink="/login">
        <span>登陆</span><i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
</div>

