<div class="container text-center user">
  <!--header-->
  <div class="row header">
    <div class="col">
      <h1 class="title">修改密码</h1>
    </div>
  </div>
  <!--body-->
  <div class="row body">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6" style="margin: 0 auto;">
      <form action="#" role="form" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <!--全局消息-->
        <div class="form-group">
          <div class="alert" [ngClass]="checkCode==0?'alert-success':'alert-danger'"
               *ngIf="msg">{{msg}}
          </div>
        </div>
        <!--密码-->
        <div class="form-group user-field">
          <i class="fa fa-key fa-lg"></i>
          <input type="password" class="form-control" id="password" formControlName="password" name="password"
                 [(ngModel)]="user.password" placeholder="{{placeholder.password.title}}">
        </div>
        <!--重复密码-->
        <div class="form-group user-field">
          <i class="fa fa-key fa-lg"></i>
          <input type="password" class="form-control" id="rePassword" formControlName="rePassword" name="rePassword"
                 [(ngModel)]="user.rePassword" placeholder="{{placeholder.rePassword.title}}">
        </div>
        <!--提交按钮-->
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-info" [disabled]="userForm.invalid==true||canSubmit==false">修改
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--bottom-->
  <div class="row text-center bottom">
    <div class="col-12">
      <a href="#" routerLink="/login">
        <span>登陆</span><i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
</div>

