<h2 id="title">My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addHero(heroName.value); heroName.value=''">add</button>
</div>

<ul class="heroes" id="ul">
  <li *ngFor="let hero of heroes; let i = index;">
    <a (click)="onHeroDetail(hero)"  *ngIf="i%2==0">
      <span class="badge">{{i+1}}</span> <span>({{hero.id}})</span><span>{{hero.name}}</span>
    </a>
    <a routerLink="/hero/{{hero.id}}" *ngIf="i%2!=0">
      <span class="badge">{{i+1}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="deleteHero(hero)">x</button>
  </li>
</ul>
