.header {
  background-color: #e5cd68;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.body{
  background-color: #ffffff;
}

.footer {
  background-color: #5d5d5d;
}

/* log */
.log h1 {
  margin: 0.5em 0em;
}

.log a {
  color: #ffffff;
}

.log a:hover {
  color: #ffffff;
}

/* top-nav导航 */
.top-nav {
  position: relative;
}

.top-nav img {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.top-nav ul li {
  padding: 0.5em 1em;
}

.top-nav a {
  color: #ffffff;
}

.top-nav a:hover {
  color: #886741;
}

.active{
  border-bottom: 1px solid #886741;
}

/* 底部 */
.footer-main .qrcode{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-main .qrcode img{
  width: 5em;
  height: 5em;
  margin: 1em 0.5em;
}
.footer-main .copy-right{
  text-align: center;
  padding: 0.5em 0em;
}

