<div class="container user-layout">
  <!--top-->
  <div class="row text-center top">
    <div class="col-12">
      <h1>找回密码</h1>
    </div>
  </div>
  <!--content-->
  <div class="row content">
    <div class="col-12">
      <form action="#" role="form" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <div class="alert" [ngClass]="checkCode==0?'alert-success':'alert-danger'"
               *ngIf="msg">{{msg}}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8">
            <div class="form-input-i">
              <i class="fa fa-envelope-o fa-lg"></i>
              <input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="user.email"
                     placeholder="{{formPlaceholder.email.title}}">
            </div>
          </div>
          <div class="col-4" [ngSwitch]="waitSeconds">
            <button type="button" class="btn btn-block" *ngSwitchCase="0"
                    (click)="onGetCodeText(userForm.value.email)">获取验证码
            </button>
            <button type="button" class="btn btn-block" *ngSwitchDefault [disabled]="true">{{waitSeconds}}秒</button>
          </div>
        </div>
        <div class="form-group form-input-i">
          <i class="fa fa-key fa-lg"></i>
          <input type="text" class="form-control" id="code" formControlName="code" name="code"
                 [(ngModel)]="user.code" placeholder="{{formPlaceholder.code.title}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-info" [disabled]="userForm.invalid==true||canSubmit==false">找回
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--bottom-->
  <div class="row text-center bottom">
    <div class="col-12">
      <a href="#" routerLink="/login">
        <span>登陆</span><i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
</div>
