<div class="container user-layout">
  <!--top-->
  <div class="row text-center top">
    <div class="col-12">
      <h1>找回密码</h1>
    </div>
  </div>
  <!--content-->
  <div class="row content">
    <div class="col-12">
      <form action="#" role="form" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <div class="alert" [class.alert-danger]="message!='验证码发送成功'" [class.alert-success]="message=='验证码发送成功'"
               *ngIf="message">{{message}}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8">
            <div class="form-input-i">
              <i class="fa fa-envelope-o fa-lg"></i>
              <input type="text" class="form-control" formControlName="email" name="email" [(ngModel)]="user.email"
                     placeholder="{{userFormPlaceholder.email.title}}">
            </div>
          </div>
          <div class="col-4" [ngSwitch]="seconds">
            <button type="button" class="btn btn-block" *ngSwitchCase="0" [disabled]="canGetCode==false"
                    (click)="onGetCodeText(userForm.value.email)">获取验证码
            </button>
            <button type="button" class="btn btn-block" *ngSwitchDefault>{{seconds}}秒</button>
          </div>
        </div>
        <div class="form-group form-input-i">
          <i class="fa fa-key fa-lg"></i>
          <input type="text" class="form-control" id="codeText" formControlName="codeText" name="codeText"
                 [(ngModel)]="user.codeText" placeholder="{{userFormPlaceholder.codeText.title}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-info" [disabled]="userForm.invalid==true||canSubmit==false">找回
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--bottom-->
  <div class="row text-center bottom">
    <div class="col-12">
      <a href="#" routerLink="/login">
        <span>登陆</span><i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
</div>
