/*@import "assets/bootstrap-4.1.1/css/bootstrap.min.css";*/
/*@import "assets/font-awesome-4.7.0/css/font-awesome.min.css";*/

body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

input.ng-dirty.ng-invalid {
  border: 2px solid #ff0000;
}

input.ng-dirty.ng-valid {
  border: 2px solid #6bc502;
}

/**
user组件
 */
.user {
  min-width: 375px;
}

.user .header .title {
  color: #4AA4B4;
  margin: 0.5em 0em;
}

.user .body form {
  border-radius: 0.5em;
  border: 1px solid #dedede;
  padding: 2em 2em;
}

.user .body .user-field {
  position: relative;
}

.user .body .user-field i {
  color: gray;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.user .body .user-field input {
  padding-left: 2.3em;
}

.user .bottom a {
  color: #58B4BB;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.2em;
}

.user .bottom a:hover {
  color: #138892;
  text-decoration: none;
}

/*index*/
/*.category{*/
  /*color: #000000;*/
  /*margin-top: 4em;*/
/*}*/

/*.item{*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*margin-top: 2em; !* 上外边距 *!*/
/*}*/

/*.item img{*/
  /*width: 100%; !* 宽度自动填充响应式列 *!*/
  /*height: auto;*/
/*}*/

/*.item .detail{*/
  /*width: 100%; !* 宽度自动填充响应式列 *!*/
  /*border-bottom: 1px solid #D8D8D8;*/
  /*border-left: 1px solid #D8D8D8;*/
  /*border-right: 1px solid #D8D8D8;*/
  /*border-radius: 2px;*/
  /*padding: 0em 1em;*/
  /*margin-bottom: 1em; !* 下外边距 *!*/
/*}*/

/*.item .detail a.name { !* 标题设置上下外边距0.5em *!*/
  /*color: #886741;*/
  /*display: inline-block;*/
  /*margin: 0.5em 0em;*/
/*}*/

/*.item .detail .introduce { !* 文本设置行高 *!*/
  /*min-height: 8em; !* 设置文本容器最小高度,防止文本长度不一导致外部容器高度参差不齐 *!*/
  /*font-size: 0.9em;*/
  /*color: #717171;*/
  /*line-height: 1.7em;*/
  /*border-bottom: 1px solid #CBCBCB;*/
/*}*/

/*.item .detail a.like {*/
  /*color: #717171;*/
  /*display: inline-block;*/
  /*margin: 1em 0em;*/
/*}*/

/*.item .detail a.like:hover {*/
  /*color: #e5cd68;*/
/*}*/






