@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~magic-input/dist/magic-input.min.css";

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}



