<!--轮播图片 start here-->
<ngb-carousel>
  <ng-template ngbSlide *ngFor="let item of banners;let i = index;">
    <img src="../../../assets/img/h{{i+1}}.jpg" alt="Random first slide" style="width: 100%;height: 30em;">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>
<!--热门推荐 start here-->
<div class="flex-row-layout-1">
  <div class="title"><h2>热门推荐</h2></div>
  <div class="item" *ngFor="let item of hotPets;let i = index;">
    <img src="../../../assets/img/h{{i+1}}.jpg">
    <div class="detail">
      <h5><a class="name">德国边牧</a></h5>
      <p class="introduce">
        边境牧羊犬原产于苏格兰边境，为柯利牧羊犬的一种，具有强烈的牧羊本能，天性聪颖、善于察言观色，能准确明白主人的指示
      </p>
      <a class="like" href="javascript:void(0);">喜欢</a>
    </div>
  </div>
</div>
<!--服务 start here-->
<div class="flex-row-layout-1">
  <div class="title"><h2>热门服务</h2></div>
  <div class="item" *ngFor="let item of hotTerms;let i = index;" style="height:15em;">
    <img src="../../../assets/img/t{{i+1}}.jpg" style="height:12em;">
    <div class="detail" style="height:10em;">
      <h5><a class="name">剪刀杀手</a></h5>
      <p class="introduce" style="border:0;min-height:2em;">
        边境牧羊犬原产于苏格兰边境
      </p>
    </div>
  </div>
</div>
<!--时尚达人 start here-->
<div class="flex-row-layout-1">
  <div class="title"><h2>时尚达人</h2></div>
  <div class="item" *ngFor="let item of hotTerms;let i = index;" style="height:15em;">
    <img src="../../../assets/img/t{{i+1}}.jpg" style="height:12em;">
    <div class="detail" style="height:10em;">
      <h5><a class="name">剪刀杀手</a></h5>
      <p class="introduce" style="border:0;min-height:2em;">
        边境牧羊犬原产于苏格兰边境
      </p>
    </div>
  </div>
</div>

