/*header*/
.header {
  background-color: #e5cd68;
}

.loge h1 {
  margin: 0.5em 0em;
  text-align: left;
}

.loge a {
  color: #ffffff;
}

.loge a:hover {
  color: #ffffff;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu img {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.menu a {
  color: #ffffff;
  display: inline-block;
  padding: 0.5em 1em;
}

.menu a:hover {
  color: #886741;
}

.click {
  border-bottom: 2px solid #886741;
}

/*body*/
.body {
  background-color: #ffffff;
}

/* footer */
.footer {
  background-color: #5d5d5d;
}

.footer .qrcode img {
  width: 5em;
  height: 5em;
  margin: 1em 0.5em;
}

.footer .copy-right {
  padding: 0.5em 0em;
}

