<!--header-->
<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <!-- Brand -->
      <a class="navbar-brand" href="javascript:void(0);"><h1>GDD&nbsp;宠物馆</h1></a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content: flex-end;">
        <ul class="navbar-nav" style="background-color: #e7e7e7;">
          <li class="nav-item">
            <a class="nav-link menu-title" href="javascript:void(0);" routerLink="home" routerLinkActive="click"><h5>首页</h5></a>
          </li>
          <li class="nav-item menu-title">
            <a class="nav-link" href="javascript:void(0);" routerLink="pets" routerLinkActive="click"><h5>萌宝基地</h5></a>
          </li>
          <li class="nav-item menu-title">
            <a class="nav-link" href="javascript:void(0);" routerLink="/login"><h5>管理员登陆</h5></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!--body-->
<div class="body">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<!--footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 qrcode">
        <img src="../../../assets/img/lixing.png"/>
      </div>
      <div class="col-12 copy-right"><span>Copyright &copy; 2018.Company name All rights reserved</span></div>
    </div>
  </div>
</div>
