/*header*/
.header {
  background-color: #f1f1f1;
  border-bottom: 2px solid #dedede;
}

.click {
  border-bottom: 2px solid #886741;
}

/*body*/
.body{
  text-align: center;
}

/* footer */
.footer {
  background-color: #5d5d5d;
  text-align: center;
}

.footer .qrcode img {
  width: 5em;
  height: 5em;
  margin: 1em 0em;
}

.footer .copy-right {
  padding: 0.5em 0em;
}


