<!--header-->
<div class="header">
  <div class="container">
    <div class="header-main">
      <div class="log">
        <h1><a href="javascript:void(0);">GDD 宠物馆</a></h1>
      </div>
      <div class="top-nav">
        <ul>
          <li>
            <a href="javascript:void(0);" routerLink="home" routerLinkActive="click"
               [routerLinkActiveOptions]="{exact: true}">首页</a>
          </li>
          <li>
            <a href="javascript:void(0);" routerLink="pets" routerLinkActive="click">萌宝基地</a>
          </li>
          <li>
            <a href="javascript:void(0);" routerLink="/login">管理员登陆</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--body-->
<div class="body">
  <div class="container">
    <div class="body-main">
      <router-outlet></router-outlet><!--路由出口-->
    </div>
  </div>
</div>
<!--footer-->
<div class="footer" id="footer">
  <div class="container">
    <div class="footer-main">
      <div class="qrcode">
        <img src="../assets/img/weixin.jpg"/>
        <img src="../assets/img/weixin.jpg"/>
      </div>
      <div class="copy-right">
        <span>Copyright &copy; 2018.Company name All rights reserved</span>
      </div>
    </div>
  </div>
</div>

