/*header*/
.header {
  background-color: #e7e7e7;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 5em;
}

.click {
  border-bottom: 2px solid #886741;
}

/*body*/
.body {
  background-color: #ffffff;
  margin-top: 5.1em;
}

/* footer */
.footer {
  background-color: #5d5d5d;
}

.footer .qrcode img {
  width: 5em;
  height: 5em;
  margin: 1em 0em;
}

.footer .copy-right {
  padding: 0.5em 0em;
}


